*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-family: montserrat,sans-seriff;
    background: rgba(1, 63, 99, 0.699);
    box-sizing: border-box;
}
section{
    /* width: 100%; */
width: 1200px;
    /* background: green; */
    margin: 0 auto;
}
h1{
    color: white;
    margin-top: 70px;
    font-size: 35px;
    /* margin: 25px auto; */
}
input{
    padding: 13px;
    display: block;
    border-radius: 25px;
    border: none;
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 15px;
}
.todos-container{
    width: 95%;
    margin: auto;
    /* background-color: red; */
    padding: 5px;
}

button{
    padding:5px;
    color: white;
    border-radius: 25px;
    margin: 5px;
    font-weight: bold;
}
button:hover{
    background: white;
    transition: 0.5s;
    color: black;
    border:2px solid rgb(30, 162, 185);
    cursor: pointer;
}
.add{
    background: rgb(30, 162, 185);
    width:140px;
    border:2px solid #fafafa;
    font-size: 18px;
    padding: 9px;
}
.add:hover{
    border:2px solid rgb(30, 162, 185);
}
.check,.remove{
    width:70px;
    border: 2px solid ;
    padding: 5px;
    font-size: 15px;
    display: block;
    margin: auto;
}
.check{
    margin-top: 15px;
    background: rgb(30, 162, 185);
}
.remove{    
    background: red;
}
.remove:hover{
    border: 2px solid red;
}
.checked{
    opacity: 0.5;
} 
li{
    background: rgb(255, 255, 255);
    margin: 15px;
    list-style: none;
    border-radius: 5px;
    padding: 10px;
    overflow-wrap: break-word;
}
@media (min-width:700px) {
    input{
        
        display: unset;        
        width: 50%;
    }
    .check,.remove{
        width:80px;
        padding: 10px;
        font-size: 18px;
    }
}
